body {

   background: #FFFFFF
}


#banner {

width: 100%;
height: 500px;
}

h1 { 
   text-align: center;

}


p {
    text-align: center;
   }


   #missao
   {
      font-size: 20px;
   
   }



   em strong {

      color: red;
   }



   .itens { 

      font-style: italic;


   }


   .Beneficios {

      background: #FFFFFF;
   }